$font-size-md: 18px;
$font-size-md-2: 20px;
$font-size-md-3: 24px;
$font-size-lg: 28px;

$primary-text-color:#FFFCF9;
$secondary-text-color: #555267;
$text-color: #645F5F;
$background: #8A5082;
$link-color: #73366A;

$bold-weight: 700;
$regular-weight: 400;
$hover-color: #FFB3A7;
$dark-hover-color:#C05F83;

