
$font-size-md: 18px;
$font-size-md-2: 20px;
$font-size-md-3: 24px;
$font-size-lg: 28px;



//$first-fz: 18px;
//$secondary-fz: 28px;


$white-color: #FFFCF9;
$black-color: #555267;
$text-color: #645F5F;
$background: #8A5082;
$link-color: #73366A;
$bold-weight: 700;
$regular-weight: 400;
$light-color: rgba(85, 82, 103, 1);
$hover-color: #FFB3A7;

