@import "./src/styles/vars/vars.module.scss";

.modal-window {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  left: 0;
  right: 0;
  width: 790px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 45px 45px;
  border-radius: 10px;
  top: 100px;


  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  h2 {
    text-align: left;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .column {
      display: flex;
      flex-direction: column;

      div {
        display: flex;
        flex-direction: column;

        label {
          color: $primary-text-color;
          font-family: 'Calibri';
          font-size: $font-size-md;
          font-weight: $bold-weight;
        }

        input {
          padding: 10px 10px;
          width: 275px;
          border-radius: 10px;
          margin-top: 10px;
          margin-bottom: 20px;
        }
      }
    }
  }

  //.hidden {
  //  display: none;
  //}
}