.table-section {
  margin: 345px 0;

  h2 {
    text-align: center;
    margin-bottom: 15px;
  }

  .table {
    width: 525px;
    border: 1px solid #666666;
    margin: 0 auto;

    .thead {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid #666;
      width: 100%;
      padding: 0 20px;

      div {
        text-align: left;
        width: 100px;
        font-size: 20px;
      }
    }

    .tbody {

      .row {
        display: flex;
        flex-direction: row;

        .cell {
          width: 123px;
        }
      }

    }
  }
}


.inner-table {
  width: 525px;
  margin: 0 auto;

  .thead {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #666;
    width: 100%;
    padding: 0 20px;

    div {
      text-align: left;
      width: 100px;
      font-size: 20px;
    }
  }

  .tbody {
    padding: 10px 0;

    .row {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid #666;

      .cell {
        width: 120px;
      }
    }
  }
}

.hidden {
  display: none;
}

.active {
  display: block;
}
