@import "./src/assets/vars/vars.module.scss";

.button-subscribe {
  cursor: pointer;
  background-color: $background;
  padding: 7px 12px;
  color: $white-color;
  border-radius: 32px;
  width: 282px;
  font-size: 24px;
  font-weight: $bold-weight;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;


  &:hover {
    background-color: $hover-color;
  }

  .button-text {
    font-family: 'Calibri';
    font-size: $font-size-md-3;

    .icon {
      margin-right: 9px;
      padding-top: 5px;
    }
  }
}







