@import './src/assets/vars/vars.module.scss';
@import './src/assets/font-family/base.module.scss';


.container {
  max-width: 1160px;
  margin: 0 auto;

  .jumbotron {
    font-family: 'Calibri';
    margin-bottom: 112px;

    .subtitle {
      margin-top: 19px;
      margin-bottom: 32px;
      display: flex;
      flex-direction: column;
      width: 314px;

      .description {
        color: $black-color;
        font-weight: $regular-weight;
        font-size: $secondary-fz;
        margin-top: 42px;
        margin-bottom: 32px;
      }
    }
  }


  .strawberry {
    background: url('../../assets/img/banner/strawberry-1.png');
    position: absolute;
    background-position: top;
    top: 261px;
    width: 442px;
    height: 437px;
    background-repeat: no-repeat;
    left: 665px;
  }

  .second-strawberry {
    background: url('../../assets/img/banner/strawberry-2.png');
    position: absolute;
    background-position: top;
    background-repeat: no-repeat;
    right: 87px;
    width: 194px;
    height: 157px;
    top: 132px;
  }


  .background-zephir {
    background: url('../../assets/img/banner/Main-zephir.png');
    position: absolute;
    background-position: top;
    top: 64px;
    right: 425px;
    width: 442px;
    height: 437px;
  }

  .background {
    background: url('../../assets/img/banner/cloud-2.png');
    position: absolute;
    right: 0px;
    background-repeat: no-repeat;
    background-position: top;
    top: 45px;
    height: 843px;
    background-size: cover;
    width: 65%;
    background-size: cover;
  }

  section#cards {
    font-family: 'Calibri';
    margin-top: 52px;

    .cards-container {
      display: flex;
      justify-content: center;
    }

    .wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
    }
  }
}


