@import "./src/assets/reset/reset.module.scss";
@import "./src/assets/vars/vars.module.scss";
@import "./src/assets/font-family/base.module.scss";

.container {
  max-width: 1160px;
  margin: 0 auto;

  .background-logo {
    background: url('../../assets/img/banner/cloud-1.png');
    position: absolute;
    left: 1px;
    height: 380px;
    top: -61px;
    width: 872px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  .header {
    padding-top: 39px;

    .bright-background {
      background: url('../../assets/img/banner/cloud.png');
      position: absolute;
      background-repeat: no-repeat;
      width: 745px;
      background-position: top;
      height: 300px;
      top: 0;
      background-size: cover;
    }

    .repeat-background {
      background: url('../../assets/img/banner/cloud.png');
      position: absolute;
      height: 658px;
      background-repeat: no-repeat;
      width: 979px;
      background-position: top;
      left: 717px;
      height: 300px;
      top: 2px;
    }

    .additional-background {
      background: url('../../assets/img/banner/stars.png');
      position: absolute;
      height: 658px;
      background-repeat: no-repeat;
      width: 818px;
      background-position: top;
      left: 892px;
      top: 2px;
      height: 483px;
    }

    .nav-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;

      .block {
        width: 100px;
      }


      ul {
        display: flex;
        flex-direction: row;
        font-family: 'Calibri';
        z-index: 1;


        a {
          color: $link-color;
          font-size: $font-size-md-2;
          font-weight: $bold-weight;
          padding: 0 17px;

          &:hover {
            color: $dark-hover-color;
          }
        }
      }

      .contacts {
        display: flex;
        flex-direction: column;
        font-family: 'Calibri';
        align-items: flex-end;

        a {
          color: $link-color;
          z-index: 1;
        }

        .location {
          font-weight: $regular-weight;
          margin-top: 4px;
          letter-spacing: 0.5px;
          margin-bottom: 3px;
          font-size: 17px;
        }

        .phone {
          font-size: $font-size-md;
          font-weight: $bold-weight;
          text-align: end;
          letter-spacing: 0.5px;
        }
      }
    }
  }
}

