@font-face {
  font-family: 'Calibri';
  src: url('./../../assets/fonts/calibri.ttf') format('truetype');
}

@font-face {
  font-family: 'Hadnich';
  src: url('./../../assets/fonts/hadnich.ttf') format('truetype');
}

